streamlit
python-dotenv

# Latest LangChain with chain support
langchain==0.2.10
langchain-community==0.2.9
langchain-core==0.2.9
langchain-text-splitters

langchain-groq
langchain-google-genai
google-generativeai
google-genai==0.3.0

sentence-transformers
faiss-cpu

pypdf
Pillow
