streamlit
python-dotenv
requests
beautifulsoup4
lxml

# Google APIs
google-api-python-client
google-genai
google-generativeai

# LangChain
langchain==0.2.10
langchain-core==0.2.22
langchain-community==0.2.10
langchain-text-splitters==0.2.2

# LangChain integrations
langchain-groq==0.1.6
langchain-google-genai==1.0.1

# LLM SDKs
groq

# Vector DB / Embeddings
faiss-cpu
sentence-transformers
transformers
huggingface-hub

# PDF
pypdf
fpdf2

# Image
Pillow

# Firebase
empyrebase==1.1.1

# Deepgram
deepgram-sdk==4.8.1
